<a href="https://colab.research.google.com/github/soumyakandari/Univariate_Regression/blob/main/Univariate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**`Univariate Linear Regression`**

[Link to download the dataset :](https://archive.ics.uci.edu/ml/datasets/Student+Performance) 

**Date Created** : 12th June'21

**Author** : Soumya Kandari

**Reach out to me:** [LinkedIn](https://www.linkedin.com/in/soumya-kandari/)

**Setup**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd '/content/drive/MyDrive/Colab Notebooks/02_EDA/student'

/content/drive/MyDrive/Colab Notebooks/02_EDA/student

In [4]:
ls

cleanedMathData.csv  student-merge.R  student.txt
student-mat.csv      student-por.csv

In [5]:
import os

In [6]:
import pandas as pd #working with csv or excel files
import numpy as np #working with numbers/ arrays/ tensors
import tensorflow as tf #framework
from tensorflow import keras #API / library 
import os #using os commands between the python language

In [7]:
mathData = pd.read_csv('student-mat.csv', sep=';') #load the csv file as dataframe

In [8]:
mathData.head(7) #print the first ten rows of the dataframe

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6     GP   M   16       U     LE3       T  ...     1       3        0  12  12  11

[7 rows x 33 columns]

We are just going to consider the columns `G1` and `G3` for univariate linear regression

$G3_i = G1_i  \cdot \theta_1 + \theta_0$

In [9]:
uniMathData = mathData[['G1', 'G3']]
uniMathData.head(5)

   G1  G3
0   5   6
1   5   6
2   7  10
3  15  15
4   6  10